# Der Discord Bot Token
DISCORD_BOT_TOKEN=your_bot_token_here

# Channel ID, in die der Status Embed gepostet wird
SERVER_STATUS_CHANNEL_ID=your_channel_id_here

# Datenbank Verbindung (z.B. für Uptime-Tracking)
DB_CONNECTION_URL=mysql://user:password@host:port/dbname

# Leaderboard
SERVER2_RCON_URL=http://84.32.176.40:20001
SERVER2_RCON_PASS=yourpassword
LEADERBOARD_CHANNEL_ID=yourchannelid
