# Der Discord Bot Token
DISCORD_BOT_TOKEN=your_bot_token_here

# Datenbank Verbindung
DB_CONNECTION_URL=mysql://user:password@host:port/dbname

# Channel ID, in die der Status Embed (für beide Server) gepostet wird
SERVER_STATUS_CHANNEL_ID=your_channel_id_here
DISCORD_LOG_CHANNEL_ID=your_log_channel_id_here

# -----------------
# Leaderboard Server 1 & 2
# -----------------
LEADERBOARD_CHANNEL_ID="KanalID_Fuer_Beide_Leaderboards"

SERVER1_RCON_URL="http://IP_SERVER_1:PORT"
SERVER1_RCON_PASS="PASSWORT_SERVER_1"

SERVER2_RCON_URL="http://84.32.176.40:20001"
SERVER2_RCON_PASS="PASSWORT_SERVER_2"
